<h2>Employees:</h2>
<table ng-init="getAllEmployees()" class="table table-hover">
  <a ng-href="#/add" class="btn btn-link" class="glyphicon glyphicon-plus"><span class="glyphicon glyphicon-plus"></span> Add new employee</a><br/>
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>City</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="employee in allEmployees">
    <td>{{ employee.id }}</td>
    <td><a ng-href="#/details/{{ employee.id }}" >{{ employee.firstName }}</a></td>
    <td>{{ employee.lastName }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.city }}</td>
    <td align="center">
      <a ng-href="#/update/{{ employee.id }}"><span
        class="glyphicon glyphicon-edit"></span></a>
      <button type="button" class="btn btn-link" ng-click="deleteEmployee(employee.id, $index)"><span
        class="glyphicon glyphicon-trash"></span></button>
    </td>
  </tr>
  </tbody>
</table>
</div>
